/* Animations */
@keyframes float-on {
  0% {
    -webkit-transform: translate(30px,0px);
    transform: translate(30px,0px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(30px,0px);
    transform: translate(30px,0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px,0px);
    transform: translate(0px,0px);
    opacity: 1;
  }
}

@keyframes float-up {
  0% {
    -webkit-transform: translate(0px,40px);
    transform: translate(0px,40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px,0px);
    transform: translate(0px,0px);
    opacity: 1;
  }
}

@keyframes pop-up {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  30% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
/* Make Scrollbars always visible */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255,255,255,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
::-webkit-scrollbar-corner {
  opacity: 0;
}

html {
   height: 100%;
  font-family: sans-serif, helvetica;
  text-align: center;
}

#background {
  background: black; /* For browsers that do not support gradients */
  background: linear-gradient(to bottom, rgba(80,0,80,.5), rgba(80,0,80,1)); /*Standard*/
  background-size: 100% 100%;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: -1;
}

body {
 margin: 0;
}

a, p, li, h1, h2, h3, label {
  color: white;
  font-weight: lighter;
  text-decoration: none;
}

h1, .title {
  margin: 0;
  padding: 0.5em;
  background-color: rgb(42,48,64);
}

h3 {
  margin: -3px;
  padding: 0.8em;
  background-color: rgba(255,255,255,.3);
  border: 1px solid white;
}

ul {
  list-style: none;
}

.header-nav {
  margin-bottom: -3em;
}

.header-nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  top: -70px;
}

.header-nav li {
  float: left;
  width: 8em;
}

.header-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 26px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.header-nav li a:hover {
  background-color: #111;
}

.content, .job-folders-container, .apps-container {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.apps-container {
  max-width: 85%;
  flex-flow: row wrap;
  justify-content: space-between;
}

.nav {
  display: flex;
  display: -webkit-flex;
  padding: 0.1em;
  margin: 9px 0px 0px -4px;
}

.nav .active {
  border: 0px;
  opacity: 1;
  padding: 0em 0.5em 0em 0.5em;
}

.nav .non-active a {
  border: 1px dotted white;
  opacity: 0.5;
  padding: 0.5em;
}

.nav .non-active a:hover {
  background: white;
  background: rgba(255,255,255,0.4);
}

.app-icon {
  border: 2px solid #fff;
  border-radius: 2em;
  width: 18em;
  margin: 3em;
  animation-name: float-up;
  animation-duration: 0.7s;
}

.form-icon {
  border: 2px solid #fff;
  padding: 0.1em;
  width: 9em;
  height: 11em;
  margin: 1.5em;
  animation-name: pop-up;
  animation-duration: 0.7s;
}

.form-icon img {
  width: 100px;
  height: 100px;
  padding: 1em;
}

.container-border {
  height: 36em;
  border: 1px dotted white;
  margin: 0.7em;
  padding: 2px;
}

.job-folders-container {
  width: 400px;
  height: 470px;
  padding: 1em;
  margin-top: 1em;
  flex-direction:column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: baseline;
  overflow: scroll;
}

#producer {
  height: 450px;
}

.job-folder {
  min-height: 1.25em;
  font-size: 0.85em;
  color: white;
  border: 2px solid white;
  border-radius: 0.4em;
  padding: 0.5em 0.4em 0.3em 0.4em;
  margin: 0.5em 0.5em 0.5em 0.1em;
}

.linked-project-folder {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.linked-project-label {
  font-size: 0.85em;
  color: white;
  padding: 0.5em;
  border-radius: 0.4em 0em 0em 0.4em;
  border: 2px solid white;
}

.linked-project-folder input {
  color: white;
  padding: 0.7em;
  margin-left: -0.1em;
  border: 2px solid white;
  border-radius: 0em 0.4em 0.4em 0em;
  background: none;
}

.linked-project-folder input:hover{
  background: rgba(255,255,255,0.4);
}

.form {
  border: 2px solid #fff;
  border-radius: 0.3em;
  width: 25em;
  margin: 2em;
  animation-name: pop-up;
  animation-duration: 0.7s;
}

.field {
  font-size: 1em;
  color: white;
  border: 2px solid #fff;
  background: none;
  margin: 1em;
}

:focus {
  outline: none;
}

.button {
  margin: 0.8em;
  padding: 0.3em;
  height: 2em;
}

.clickable-folder {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 0.85em;
}

.button input, .button a, .clickable-folder a {
  font-size: 1em;
  font-weight: lighter;
  color: white;
  border: 2px solid #fff;
  border-radius: 0.5em;
  padding: 0.5em;
  background: none;
}

.button input:hover, a:hover {
  background: rgba(255,255,255,0.4);
}

.solid-window {
  background: rgba(220,220,220,0.3);
  border: 1.5px dotted #fff;
  border-radius: 0.1em;
  padding: 0.1em;
  margin: auto;
  margin-top: 2em;
  width: 80%;
  animation-name: float-on;
  animation-duration: 1s;
}

.solid-window img {
  width: 90%;
  padding: 1.2em;
}
