/* Animations */
@keyframes float-on {
  0% {
    -webkit-transform: translate(30px,0px);
    transform: translate(30px,0px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(30px,0px);
    transform: translate(30px,0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px,0px);
    transform: translate(0px,0px);
    opacity: 1;
  }
}

@keyframes float-up {
  0% {
    -webkit-transform: translate(0px,40px);
    transform: translate(0px,40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px,0px);
    transform: translate(0px,0px);
    opacity: 1;
  }
}

@keyframes pop-up {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  30% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

body {
  background: black; /* For browsers that do not support gradients */
  background: linear-gradient(to bottom, rgba(80,0,80,.5), rgba(80,0,80,1)); /*Standard*/
  background-size: 100% 3000px;
  font-family: sans-serif, helvetica;
  text-align: center;
  margin: 0;
  padding-bottom: 60px;
}

a, p, li, h1, h2, label {
  color: white;
  font-weight: lighter;
  text-decoration: none;
}

h1, .title {
  margin: 0;
  padding: 0.5em;
  background-color: rgb(42,48,64);
}

ul {
  list-style: none;
}

.content, .job-folders-container {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.app-icon {
  border: 2px solid #fff;
  border-radius: 2em;
  width: 18em;
  margin: 3em;
  animation-name: float-up;
  animation-duration: 0.7s;
}

.job-folders-container {
  width: 700px;
  height: 400px;
  border: 1px dotted white;
  padding: 1em;
  flex-direction:column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: baseline;
}

.job-folder {
  color: white;
  border: 2px solid white;
  border-radius: 0.4em;
  padding: 0.2em;
  margin: 0.2em;
}

.form {
  border: 2px solid #fff;
  border-radius: 0.3em;
  width: 25em;
  margin: 2em;
  animation-name: pop-up;
  animation-duration: 0.7s;
}

.field {
  font-size: 1em;
  color: white;
  border: 2px solid #fff;
  background: none;
  margin: 1em;
}

:focus {
  outline: none;
}

.button {
  margin: 0.8em;
  padding: 0.3em;
  height: 2em;
}

.button input, .button a {
  font-size: 1em;
  font-weight: lighter;
  color: white;
  border: 2px solid #fff;
  border-radius: 0.5em;
  padding: 0.5em;
  background: none;
}

.button input:hover, a:hover {
  background: rgba(255,255,255,0.4);
}

.solid-window {
  background: rgba(220,220,220,0.6);
  border: 2px solid #fff;
  border-radius: 1em;
  margin: auto;
  margin-top: 2em;
  width: 1300px;
  height: 800px;
  animation-name: float-on;
  animation-duration: 1s;
}

.solid-window img {
  padding: 2em;
  width: 1200;
}
